# Date and Time - Parsing and Cleaning Process

## Learning points:
* Classes
    * date class, timedelta class, datetime class
* Formatting and Parsing methods
    * isoformat(), strftime(), strptime()
* Understanding timestamp
* Doing Arithmetic with dates and times
    * timedelta class idea
    * duration idea
* Time zones
    * **naive** datetime vs datetime with timezone vs datetime with timezone automatically from `tz` database
    * Time zone database
        * `tz`
* Pandas and Time zones
    * Handling Date Columns loaded as strings: 
        * use `parse_dates` in `read_csv`
        * use `pd.to_datetime()` at a date column and choose a format

## Date Class, Timedelta Class (Parsing Dates - no 'time' yet)
* Goal 1: Working with `date class` and `timedelta class`
* Goal 2: Doing Arithmetics with dates

*The idea when ONLY working with `date` (and not with `time` yet) is to have only an object of `datetime.date` type. 

* Creating a date object and accessing its attributes
        * import the `date class` from the `datetime package`
    * `from datetime import date`
        * Start by creating a `date` object by instantiating it from the `date` class. Put them into a list.
            * my_date_object_as_list_of_date_objects = [date(2025, 1, 22), date(2024, 1, 1)]
        * You can use attributes on this object (e.g.: `.year`) to access its individual components
            * my_date_object_as_list_of_date_objects[0].year -> 2025
        * You can also use methods on this object (e.g.: `.weekday()`) to access its individual components
            * my_date_object_as_list_of_date_objects[0].weekday() -> 2 (refers to Wednesday because Monday is 0)
        * You can use other methods
            * e.g.: min(my_date_object_as_list_of_date_objects) -> 2024-01-01
    * `from datetime import timedelta`
        * If we add/subtract dates, you get a `timedelta` object
            * simple way: 
                * object_d2 = date(2024, 1, 30), object_d1 = date(2024, 1, 1) 
                * time_range_object =  object_d2 - object_d1
                * You have to access the object's component: time_range_object.days -> 29
            * We can also start with a timedelta object
                * my_timedelta_object = timedelta(days=29) 
                * object_d1 + my_timedelta_object -> 2024-30-01
    * Putting Dates as Strings
        * Use cases:
            * _put dates as filenames to organize folders_
            * _export the dates to excel or CSV_
        * In both cases, the idea is to FORMAT!
        * ISO 8601 format (`YYYY-MM-DD`) using `isoformat()` method and Other Formats using `strftime()` method on the `date` object
            * Put the date object in a list already in ISO 8601 format:
                * my_object_as_list_of_date_objects_iso = [date(2025, 1, 22).isoformat()) date(2024, 1, 1).isoformat()] 
            * Pass a format string of your choice:
                * object_d1_formatted = date(2024, 01, 01).strftime("%Y") -> 2024
                * object_d1_formatted = date(2024, 01, 01).strftime("Year is: %Y") -> Year is: 2024
                * object_d1_formatted = date(2024, 01, 01).strftime("%Y/%m/%d") -> 2024/01/01

In [1]:
# Date Class
from datetime import date

my_date_object_as_list_of_date_objects = [date(2025, 1, 22), date(2024, 1, 1)]

print("The object 'date(2025, 1, 22)' has the type: ", type(my_date_object_as_list_of_date_objects[0]))

my_date_object = date(2025, 1, 22)

print("The object from the list is printed in this way: ", my_date_object)

The object 'date(2025, 1, 22)' has the type:  <class 'datetime.date'>
The object from the list is printed in this way:  2025-01-22

## Date Class, Timedelta Class (Parsing Dates - now with 'time')
* Goal 1: Working with `datetime class` and `replace()`
* Goal 2: Parsing string dates to datetime
* Goal 3: Understanding `timestamp`

* Creating a datetime object and accessing its attributes
        * import the `datetime class` from the `datetime package`
    * `from datetime import datetime`
        * E.g.: 2024-01-01 18:30:59 (precision of 0.5 seconds or 500000 microseconds
        * Precision is importanto for finance, for example.
        * my_datetime_object = datetime(2024, 1, 1, 18, 30, 59, 500000)
    * `replace()` method
        * If you want to **replace** some of the components for new ones:
            * E.g.: 2024-01-01 18:00:00
            * my_datetime_object_with_new_hour = datetime(minute=0, second=0, microsecond=0)
    * Parsing string dates date using `strftime()` and `strptime()`
        * E.g.: `"2024-01-01 18:30:59"` as **string**
            * "2024-01-01 18:30:59" 
            * my_datetime_object_from_string_to_datetime = datetime.strptime("2024-01-01 18:30:59", "%m/%d/%Y %H:%M:%S")
            * my_datetime_object_from_string_to_datetime -> 2024-01-01 18:30:59 (as datetime object)
    * Timestamp
        * _Computers store datetime information as the number of seconds since 1970-01-01 (when modern computers were born)_
        * Converting from `timestamp` to `datetime`
            * datetime.fromtimestamp(1704133859.0) -> 2024-01-01 18:30:59 (as datetime object)
    * Duration and timedeltas
        * If we add/subtract dates with time, you get a `timedelta` object
        * simple way: 
            * object_d2_with_time = datetime(2024, 1, 1, 18, 30, 59), object_d1_with_time = date(2024, 1, 1, 18, 30, 9) 
            * time_range_object =  object_d2 - object_d1
            * You have to access the object's component: time_range_object.total_seconds() -> 50
        * We can also start with a timedelta object
            * my_timedelta_object = timedelta(seconds=50) 
            * object_d1_with_time + my_timedelta_object -> 2024-01-01 18:30:59

## Time Zones
* Goal 1: Working with `timezone class` and making `datetime` **aware** of a timezone
* Goal 2: Handling time zones in 3 ways
* Remember: if you want to get absolute time differences, always move to UTC!

* Naive Datetime object
    * An object can be aware or naive depending on whether it has timezone information.
    * datetime(2024, 1, 1, 18, 30, 59) -> 2024-01-01 18:30:59
        * There is not timezone attribute
    * datetime(2024, 1, 1, 18, 30, 59, tzinfo=timezone(timedelta(hours=-2))) -> 2024-01-01 18:30:59-02:00

* 3 Ways to Represent **non-naive** Time zones
    * E.g.: 12:00 in UTC+2 = 10:00 in UTC 
        1) Imposing UTC+2 
            * 12:00 in UTC+2 
            * -> datetime(2024, 1, 1, 12, 00, 00, tzinfo = timezone(timedelta(hours=+2)))
        2) Converting the time itself to the UTC you want 
            * 12:00 in UTC+2 = 10:00 in UTC
            * -> datetime(2024, 1, 1, 12, 00, 00, tzinfo = timezone(timedelta(hours=+2))).astimezone(timezone.utc)
        3) Automatic Time zones: 
            * Using the `tz` database to get the timezone you want
            * 12:00 in UTC+2
            * -> datetime(2024, 1, 1, 12, 00, 00, tzinfo = tz.gettz('America/New_York'))
    * In the first case, we have the time of the clock in UTC+2
    * In the second one, we have the same time of the clock in UTC
    * In the third case, we have the time in the UTC we want by using the `tz` database
    * Creating a timezone object 
        * `from datetime import timezone`
            * Changing a `datetime` object to a specific timezone using `tzinfo` attribute 
                * Creating a timezone object with `timedelta`
                    * timezone_object_utc_minus5 = timezone(timedelta(hours=-5)) - New York time zone
                    * my_datetime_object_with_timezone = datetime(2024, 1, 1, 18, 30, 59, tzinfo = timezone_object_utc_minus5)
                        * -> 2024-01-01 18:30:59-05:00
    * Time zone Database
        * Goal: to have *updated* time zone when it changes.
        * A third way is to use database `tz` from `dateutil`package, as well as `gettz()`
        * First, create a timezone object
            * my_timezone_object = tz.gettz('America/New_York')
        * Now, load it into the datetime object:
            * my_datetime_object_with_timezone_from database = datetime(2024, 1, 1, 18, 30, 59, tzinfo = my_timezone_object) -> 2024-01-01 18:30:59-05:00

In [2]:
from dateutil import tz
from datetime import datetime

# Step 1: Create the timezone object for Europe/Madrid
madrid_tz = tz.gettz('Europe/Madrid')
print("Madrid time zone object: ", madrid_tz)

# Step 2: Create a naive datetime object (assumed to be in UTC)
my_naive_datetime_object = datetime(2024, 1, 1, 18, 30, 59)

# Step 3: Mark the naive datetime as being in UTC
utc_datetime_object = my_naive_datetime_object.replace(tzinfo=tz.UTC)

# Step 4: Convert the UTC datetime to the Madrid timezone
madrid_datetime_object = utc_datetime_object.astimezone(madrid_tz)

# Print the results
print("Naive datetime (assumed UTC):", my_naive_datetime_object)
print("Set to UTC datetime:", utc_datetime_object)
print("Converted to Madrid timezone:", madrid_datetime_object)

Madrid time zone object:  tzfile('Europe/Madrid')
Naive datetime (assumed UTC): 2024-01-01 18:30:59
Set to UTC datetime: 2024-01-01 18:30:59+00:00
Converted to Madrid timezone: 2024-01-01 19:30:59+01:00

## Daylight Saving Time (or Daylight "Shifiting" Time or Summer Time)
* Notes:
    * Goals of having a dayligh saving time: having longer summer evenings  
    * Clocks moving forward in the Spring
    * Clocks moving back in the Fall
* Goal 1: Handling time zones with Dayligh Savings
    * Doing it manually
    * Doing it automatically with the Time Zone Database

### Clocks moving forward in the Spring

In [3]:
from datetime import timezone, timedelta

# Step 1: Create a naive datetime object to represent '2024-01-01 07:59:59', before daylight savings starts
my_naive_datetime_object_before_daylight_savings = datetime(2024, 1, 1, 7, 59, 59)
print("Naive datetime (before daylight savings):", my_naive_datetime_object_before_daylight_savings.isoformat()) 

# Step 2: Create another datetime object to represent '2024-01-01 09:00:00', 1 min after daylight savings starts
# Note: 08:00:00 is skipped on that day due to daylight savings
my_datetime_object_after_daylight_savings = datetime(2024, 1, 1, 9, 0, 0)
print("Datetime object (after daylight savings):", my_datetime_object_after_daylight_savings.isoformat())
print("Type of the datetime object:", type(my_datetime_object_after_daylight_savings))

# Step 3: Calculate the difference between the two datetimes with the timedelta object
time_difference = my_datetime_object_after_daylight_savings - my_naive_datetime_object_before_daylight_savings
print("Time difference between the two datetimes:", time_difference)
print("Type of the time difference object:", type(time_difference))

# Apply the total_seconds() method to the timedelta object
time_difference_in_seconds = time_difference.total_seconds()

# print the result
print("Time difference in seconds:", time_difference_in_seconds, "(1 hour and 1 second apart)")

# Now, let's do the same as above, but with the timezone class.

# Step 1: Create a timezone object for the Madrid timezone and for the UTC timezone
# Let's assume that the naive datetime object is is in UTC and the other one in the Madrid timezone.
timezone_object_in_utc = timezone(timedelta(hours=0))
timezone_object_in_utc1 = timezone(timedelta(hours=1))

# Step 2: Use the replace() method to set the timezone for the naive datetime object (before daylight savings)
# and the other datetime object (after daylight savings)
my_datetime_object_before_daylight_savings_w_tz = my_naive_datetime_object_before_daylight_savings.replace(tzinfo=timezone_object_in_utc)
my_datetime_object_after_daylight_savings_w_tz = my_datetime_object_after_daylight_savings.replace(tzinfo=timezone_object_in_utc1)
print("Datetime object (before daylight savings):", my_datetime_object_before_daylight_savings_w_tz.isoformat())
print("Datetime object (after daylight savings):", my_datetime_object_after_daylight_savings_w_tz.isoformat())
# print the type of the datetime object with timezone information
print("Type of the datetime object with timezone information:", type(my_datetime_object_after_daylight_savings_w_tz))
# create a timedelta object to represent the time difference between the two datetimes
time_difference_w_tz = my_datetime_object_after_daylight_savings_w_tz - my_datetime_object_before_daylight_savings_w_tz
print("Time difference between the two datetimes:", time_difference_w_tz)
print("Type of the time difference object:", type(time_difference_w_tz))
# apply the total_seconds() method to the timedelta object
time_difference_in_seconds_w_tz = time_difference_w_tz.total_seconds()
# Note that now the time difference is 1 second and not 1 hour and 1 second, this is because
# the timezone information is taken into account and the time difference is calculated in the same timezone.

Naive datetime (before daylight savings): 2024-01-01T07:59:59
Datetime object (after daylight savings): 2024-01-01T09:00:00
Type of the datetime object: <class 'datetime.datetime'>
Time difference between the two datetimes: 1:00:01
Type of the time difference object: <class 'datetime.timedelta'>
Time difference in seconds: 3601.0 (1 hour and 1 second apart)
Datetime object (before daylight savings): 2024-01-01T07:59:59+00:00
Datetime object (after daylight savings): 2024-01-01T09:00:00+01:00
Type of the datetime object with timezone information: <class 'datetime.datetime'>
Time difference between the two datetimes: 0:00:01
Type of the time difference object: <class 'datetime.timedelta'>

In [4]:
# Now, let's use the Time Zone Database (tz) to get the timezone information for the Madrid timezone.
from dateutil import tz
from datetime import datetime

# Step 1: Create the timezone object for Europe/Madrid
madrid_tz = tz.gettz('Europe/Madrid')
print("Madrid time zone object:", madrid_tz)

# assign the timezone object to the datetime object
my_datetime_object_before_daylight_savings_w_tz_db = datetime(2024, 1, 1, 7, 59, 59, tzinfo=madrid_tz)
my_datetime_object_after_daylight_savings_w_tz_db = datetime(2024, 1, 1, 9, 0, 0, tzinfo=madrid_tz)

# Note that the tzinfo attribute is set to the timezone object for the Madrid timezone and it figures out the daylight savings for us.

# print the datetime objects
print("Datetime object (before daylight savings):", my_datetime_object_before_daylight_savings_w_tz_db.isoformat())
print("Datetime object (after daylight savings):", my_datetime_object_after_daylight_savings_w_tz_db.isoformat())

# create a timedelta object to represent the time difference between the two datetimes
time_difference_w_tz_db = my_datetime_object_after_daylight_savings_w_tz_db - my_datetime_object_before_daylight_savings_w_tz_db
print("Time difference between the two datetimes:", time_difference_w_tz_db)
print("Type of the time difference object:", type(time_difference_w_tz_db))

Madrid time zone object: tzfile('Europe/Madrid')
Datetime object (before daylight savings): 2024-01-01T07:59:59+01:00
Datetime object (after daylight savings): 2024-01-01T09:00:00+01:00
Time difference between the two datetimes: 1:00:01
Type of the time difference object: <class 'datetime.timedelta'>

In [5]:
# Now, let's put it altogather and show why if you want to get absolute time differences, you should always move to UTC.

# Step 1: Naive Datetime Objects
from datetime import datetime, timedelta

# Create naive datetime objects (no time zone information)
start_naive = datetime(2017, 3, 12, 0, 0)  # March 12, 2017, midnight
end_naive = start_naive + timedelta(hours=6)  # Add 6 hours

print("Naive Start:", start_naive)
print("Naive End:", end_naive)

# Step 2: Add Time Zone Information

from dateutil import tz

# Make the datetime objects time zone-aware
start_aware = start_naive.replace(tzinfo=tz.gettz('America/New_York'))
end_aware = end_naive.replace(tzinfo=tz.gettz('America/New_York'))

print("Time Zone-Aware Start:", start_aware.isoformat())
print("Time Zone-Aware End:", end_aware.isoformat())

# Step 3: Calculate Time Difference in Local Time
# Calculate the time difference in hours
time_diff_hours = (end_aware - start_aware).total_seconds() / (60 * 60)
print("Time Difference (Local Time):", time_diff_hours, "hours")

# Step 4: Convert to UTC for Absolute Time Differences
from datetime import timezone

# Convert to UTC
start_utc = start_aware.astimezone(timezone.utc)
end_utc = end_aware.astimezone(timezone.utc)

print("Start in UTC:", start_utc.isoformat())
print("End in UTC:", end_utc.isoformat())

# Calculate the time difference in UTC
time_diff_hours_utc = (end_utc - start_utc).total_seconds() / (60 * 60)
print("Time Difference (UTC):", time_diff_hours_utc, "hours")

# Step 5: Why UTC Matters
# Example with DST transition
start_dst = datetime(2017, 3, 12, 1, 30, tzinfo=tz.gettz('America/New_York'))  # 1:30 AM
end_dst = start_dst + timedelta(hours=1)  # Add 1 hour

print("DST Start:", start_dst.isoformat())
print("DST End:", end_dst.isoformat())

# Calculate local time difference
time_diff_hours_dst = (end_dst - start_dst).total_seconds() / (60 * 60)
print("Time Difference (Local Time):", time_diff_hours_dst, "hours")

# Convert to UTC and calculate difference
start_dst_utc = start_dst.astimezone(timezone.utc)
end_dst_utc = end_dst.astimezone(timezone.utc)
time_diff_hours_dst_utc = (end_dst_utc - start_dst_utc).total_seconds() / (60 * 60)
print("Time Difference (UTC):", time_diff_hours_dst_utc, "hours")

Naive Start: 2017-03-12 00:00:00
Naive End: 2017-03-12 06:00:00
Time Zone-Aware Start: 2017-03-12T00:00:00-05:00
Time Zone-Aware End: 2017-03-12T06:00:00-04:00
Time Difference (Local Time): 6.0 hours
Start in UTC: 2017-03-12T05:00:00+00:00
End in UTC: 2017-03-12T10:00:00+00:00
Time Difference (UTC): 5.0 hours
DST Start: 2017-03-12T01:30:00-05:00
DST End: 2017-03-12T02:30:00-04:00
Time Difference (Local Time): 1.0 hours
Time Difference (UTC): 0.0 hours

In [6]:
# Now, notice how it is important to use the tz database to get the correct time zone information, as shown in the following example.
# The DST (Daylight Saving Time) might change according to the year, and the tz database has this information.

# Import datetime and tz
from datetime import datetime
from dateutil import tz

# Create starting date
dt = datetime(2000, 3, 29, tzinfo = tz.gettz('Europe/London'))

# Loop over the dates, replacing the year, and print the ISO timestamp
for y in range(2000, 2011):
  print(dt.replace(year=y).isoformat())

2000-03-29T00:00:00+01:00
2001-03-29T00:00:00+01:00
2002-03-29T00:00:00+00:00
2003-03-29T00:00:00+00:00
2004-03-29T00:00:00+01:00
2005-03-29T00:00:00+01:00
2006-03-29T00:00:00+01:00
2007-03-29T00:00:00+01:00
2008-03-29T00:00:00+00:00
2009-03-29T00:00:00+00:00
2010-03-29T00:00:00+01:00

### Clocks moving back in the Fall

* Daylight Saving Time (DST) means that, at some point in the year, the clocks move forward (spring forward) or backward (fall back).
    * When the clock moves forward, an hour is "skipped."
    * When the clock moves backward, the same hour happens twice, which can cause confusion when handling datetime values.

* Problem: When clocks "fall back," some times occur twice, causing ambiguous datetime values.
* Solution: Use tz.enfold() to distinguish between two instances of the same local time.
* Best Practice: Convert to UTC before performing datetime arithmetic.

In [7]:
# Step 1: The Problem with Naive Datetime Arithmetic
# Suppose we have a bike trip that starts at 1:30 AM and ends at 1:15 AM on a day when
# the clocks move backward at 2:00 AM → 1:00 AM (fall back).


from datetime import datetime
from zoneinfo import ZoneInfo

start = datetime(2023, 11, 5, 1, 30, tzinfo=ZoneInfo("America/New_York"))
end = datetime(2023, 11, 5, 1, 15, tzinfo=ZoneInfo("America/New_York"))

# If we subtract these two timestamps without handling DST, Python may think that end < start and return a negative duration.
print("This is incorrect:", end - start)  # Incorrect!

# Step 2: Using tz.enfold() to Handle the Ambiguous Time
# Python’s tz.enfold() (from dateutil.tz) helps resolve the ambiguity by marking which 
# instance of 1:15 AM we are referring to.

from dateutil import tz

from datetime import datetime
from zoneinfo import ZoneInfo  # Use tzfile for proper timezone handling

onebike_datetimes = [
    {
        "start": datetime(2023, 11, 4, 23, 30, tzinfo=ZoneInfo("America/New_York")),
        "end": datetime(2023, 11, 5, 0, 15, tzinfo=ZoneInfo("America/New_York"))
    },
    {
        "start": datetime(2023, 11, 5, 0, 45, tzinfo=ZoneInfo("America/New_York")),
        "end": datetime(2023, 11, 5, 1, 30, tzinfo=ZoneInfo("America/New_York"))
    },
    {
        "start": datetime(2023, 11, 5, 1, 15, tzinfo=ZoneInfo("America/New_York")),  
        "end": datetime(2023, 11, 5, 1, 45, tzinfo=ZoneInfo("America/New_York"))  # Ambiguous time (DST rollback)
    },
    {
        "start": datetime(2023, 11, 5, 1, 30, tzinfo=ZoneInfo("America/New_York")),  
        "end": datetime(2023, 11, 5, 2, 15, tzinfo=ZoneInfo("America/New_York"))
    },
    {
        "start": datetime(2023, 11, 5, 2, 30, tzinfo=ZoneInfo("America/New_York")),
        "end": datetime(2023, 11, 5, 3, 15, tzinfo=ZoneInfo("America/New_York"))
    }
]

# Print first entry to verify
print(onebike_datetimes[0])


trip_durations = []
for trip in onebike_datetimes:
    # Check if the trip crosses a DST transition where the clock goes back
    if trip["start"] > trip["end"]:
        trip["end"] = tz.enfold(trip["end"])  # Disambiguate the end time

    # Convert times to UTC to ensure consistency
    start = trip["start"].astimezone(tz.UTC)
    end = trip["end"].astimezone(tz.UTC)

    # Compute trip duration in seconds
    trip_length_seconds = (end - start).total_seconds()
    trip_durations.append(trip_length_seconds)

# Step 3: Converting to UTC to Avoid Ambiguities
start = trip["start"].astimezone(tz.UTC)
end = trip["end"].astimezone(tz.UTC)

# Step 4: Computing the Trip Duration
trip_length_seconds = (end - start).total_seconds()
trip_durations.append(trip_length_seconds)

# Step 5: Finding the Shortest Trip
print("Shortest trip: " + str(min(trip_durations)))

This is incorrect: -1 day, 23:45:00
{'start': datetime.datetime(2023, 11, 4, 23, 30, tzinfo=zoneinfo.ZoneInfo(key='America/New_York')), 'end': datetime.datetime(2023, 11, 5, 0, 15, tzinfo=zoneinfo.ZoneInfo(key='America/New_York'))}
Shortest trip: 1800.0

## Pandas and Time zones

* Goal 1: use `parse_dates` in `read_csv`
    * columns with dates as strings will become `datetime` objects
* Goal 2: use `pd.to_datetime()` at a date column and choose a format
* Goal 3: applying math methods will return `timedelta` objects
* Goal 4: using `timezone` in Pandas
    * Handle Daylight Savings (DST)

In [8]:
# Let's create a CSV file with the bike rides data using the csv module in Python
import csv

# Define the correct file path with the file name
csv_filename = "C:/Users/caiov/OneDrive - UCLA IT Services/Documentos/DataScience/Repositories/cleaning-parsing-date-time-best-practices/data/bike_rides.csv"

# Sample ride data
rides = [
    {"ride_id": 1, "start_date": "2017-10-01 15:23:25", "end_date": "2017-10-01 15:26:26"},
    {"ride_id": 2, "start_date": "2017-10-02 08:12:45", "end_date": "2017-10-02 08:25:13"},
    {"ride_id": 3, "start_date": "2017-10-03 21:30:10", "end_date": "2017-10-03 21:45:55"},
    {"ride_id": 4, "start_date": "2017-10-04 06:50:33", "end_date": "2017-10-04 07:05:12"},
    {"ride_id": 5, "start_date": "2017-10-05 12:10:00", "end_date": "2017-10-05 12:40:45"}
]

# Try writing the file
try:
    with open(csv_filename, mode="w", newline="") as file:
        writer = csv.DictWriter(file, fieldnames=["ride_id", "start_date", "end_date"])
        writer.writeheader()
        writer.writerows(rides)
    print(f"CSV file '{csv_filename}' created successfully!")

except PermissionError:
    print(f"Permission denied: Unable to write to '{csv_filename}'.\nTry saving in a different folder or checking file permissions.")

CSV file 'C:/Users/caiov/OneDrive - UCLA IT Services/Documentos/DataScience/Repositories/cleaning-parsing-date-time-best-practices/data/bike_rides.csv' created successfully!

In [9]:
csv_filename

'C:/Users/caiov/OneDrive - UCLA IT Services/Documentos/DataScience/Repositories/cleaning-parsing-date-time-best-practices/data/bike_rides.csv'

In [10]:
# Import pandas
import pandas as pd

# Load CSV into the rides variable
rides = pd.read_csv(csv_filename, parse_dates = ['start_date', 'end_date'])

rides_copy = rides.copy()


# Print the initial (0th) row
print(rides.iloc[0])

# Print the data type of the rides.iloc[0]['start_date'] column
print(type(rides.iloc[0]['start_date']))

# Print the data type of the 'start_date' column
print("The 'start_date' column has a datetime type: ", rides['start_date'].dtype)

# Create a duration column as timedelta
rides['duration_as_timedelta'] = rides['end_date'] - rides['start_date']

# Subtract the start_date from the end date and Convert to seconds
rides['duration'] = (rides['end_date'] - rides['start_date']).dt.total_seconds()

# Print the first few rows of the duration column
print(rides['duration'].head())

# Print the mean of the duration column
print("The mean of the duration column is: ", rides['duration'].mean())

# Print the type of the duration_as_timedelta column with the mean
print("The type of the duration_as_timedelta column with the mean is: ", type(rides['duration_as_timedelta'].mean()))

ride_id                         1
start_date    2017-10-01 15:23:25
end_date      2017-10-01 15:26:26
Name: 0, dtype: object
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
The 'start_date' column has a datetime type:  datetime64[ns]
0     181.0
1     748.0
2     945.0
3     879.0
4    1845.0
Name: duration, dtype: float64
The mean of the duration column is:  919.6
The type of the duration_as_timedelta column with the mean is:  <class 'pandas._libs.tslibs.timedeltas.Timedelta'>

In [11]:
# Dates start as naive datetime objects, we want to normalize them in a timezone
# tz_localize() method to localize the naive datetime objects
# if we try to convert all the column to a timezone, there will be an ambiguity error becasue of the Daylight Saving Time

# Localize the start_date column to America/New_York
rides_copy['start_date'] = rides_copy['start_date'].dt.tz_localize('America/New_York', ambiguous='NaT')

# Print first value
print(rides_copy['start_date'].iloc[0])

# Convert the start_date column to Europe/London
rides_copy['start_date'] = rides_copy['start_date'].dt.tz_convert('Europe/London')

# Print the new value
print(rides_copy['start_date'].iloc[0])

2017-10-01 15:23:25-04:00
2017-10-01 20:23:25+01:00

## Our dataset

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

## Importing Libraries and Loading Data

In [12]:
# Import necessary libraries
import pandas as pd

# Load the dataset
ds_jobs = pd.read_csv("C:/Users/caiov/OneDrive - UCLA IT Services/Documentos/DataScience/Repositories/cleaning-categorical-data-best-practices/data/customer_not_efficient.csv")

# View the dataset
ds_jobs.head()

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
0,8949,city_103,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevant experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevant experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevant experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [13]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

## Cleaning Procedures

### Exploring Data Types

In [14]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

### Numeric Columns

In [15]:
# List of Numeric Columns
# Note: job_change should be a categorical column and not a numeric column

numeric_columns = ['student_id', 'city_development_index', 'training_hours']

### Converting Procedures

| **Integer Columns**               | **Float Columns**             |
|-----------------------------------|-------------------------------|
| Store as 32-bit integers (`int32`) | Store as 16-bit floats (`float16`) |

In [16]:
# Convert the numeric columns according to the table above

for col in ds_jobs_transformed[numeric_columns]:
    if pd.api.types.is_integer_dtype(ds_jobs_transformed[col]):
        ds_jobs_transformed[col] = ds_jobs_transformed[col].astype('int32')
    elif pd.api.types.is_float_dtype(ds_jobs_transformed[col]):
        ds_jobs_transformed[col] = ds_jobs_transformed[col].astype('float16')

print(ds_jobs_transformed[numeric_columns].dtypes)

student_id                  int32
city_development_index    float16
training_hours              int32
dtype: object

In [17]:
# List of Categorical Columns
categorical_columns = list(ds_jobs_transformed.select_dtypes(include=['object', 'category']).columns)

# Including `job_change` in the list of categorical columns
categorical_columns = categorical_columns + ['job_change']

print(categorical_columns)

['city', 'gender', 'relevant_experience', 'enrolled_university', 'education_level', 'major_discipline', 'experience', 'company_size', 'company_type', 'last_new_job', 'job_change']

In [18]:
ds_jobs_transformed[categorical_columns].nunique()

city                   123
gender                   3
relevant_experience      2
enrolled_university      3
education_level          5
major_discipline         6
experience              22
company_size             8
company_type             6
last_new_job             6
job_change               2
dtype: int64

In [19]:
# Separating Categorical Columns by its nature
ls_categorical_bool = ['relevant_experience', 'job_change']
ls_categorical_with_order = ['enrolled_university', 'education_level', 'experience', 'company_size', 'last_new_job']
ls_categorical_no_order = ['city', 'gender', 'major_discipline', 'company_type']

### Converting Procedures

| **Converting Categorical Data**                                                                                  |
|------------------------------------------------------------------------------------------------------------------|
| (Two-factor categories) Data w/ **2 categories**: yes/no → Convert to `bool`                                     |
| (Ordinal Data) Data w/ **> 2 categories** and **natural ordering** → Convert to `ordered category`               |
| (Nominal data) Data w/ **few unique values** and **no natural ordering** → Convert to `category`                 |

In [20]:
# Two-factor Categories (mapping to boolean)
print("relevant_experience: ", ds_jobs_transformed['relevant_experience'].unique())
print("job_change: ", ds_jobs_transformed['job_change'].unique())

ds_jobs_transformed['relevant_experience'] = ds_jobs_transformed['relevant_experience'].map({'Has relevant experience': True, 'No relevant experience': False})
ds_jobs_transformed['job_change'] = ds_jobs_transformed['job_change'].map({1: True, 0: False})

relevant_experience:  ['Has relevant experience' 'No relevant experience']
job_change:  [1. 0.]

In [21]:
print("relevant_experience: ", ds_jobs_transformed['relevant_experience'].unique())
print("job_change: ", ds_jobs_transformed['job_change'].unique())

relevant_experience:  [ True False]
job_change:  [ True False]

In [22]:
# Ordinal Data (converting to "ordered category")

# enrolled_university
print("enrolled_university: ", ds_jobs_transformed['enrolled_university'].unique())

ls_enrolled_university_order = ['no_enrollment', 'Part time course', 'Full time course']

ds_jobs_transformed['enrolled_university'] = pd.Categorical(ds_jobs_transformed['enrolled_university'], categories=ls_enrolled_university_order, ordered=True)

print("enrolled_university: ", ds_jobs_transformed['enrolled_university'])

enrolled_university:  ['no_enrollment' 'Full time course' nan 'Part time course']
enrolled_university:  0           no_enrollment
1           no_enrollment
2        Full time course
3                     NaN
4           no_enrollment
               ...
19153       no_enrollment
19154       no_enrollment
19155       no_enrollment
19156       no_enrollment
19157       no_enrollment
Name: enrolled_university, Length: 19158, dtype: category
Categories (3, object): ['no_enrollment' < 'Part time course' < 'Full time course']

In [23]:
# education_level

print("education_level: ", ds_jobs_transformed['education_level'].unique())

ls_education_level_order = ['Primary School', 'High School', 'Graduate', 'Masters', 'Phd']

ds_jobs_transformed['education_level'] = pd.Categorical(ds_jobs_transformed['education_level'], categories=ls_education_level_order, ordered=True)

print("education_level: ", ds_jobs_transformed['education_level'])

education_level:  ['Graduate' 'Masters' 'High School' nan 'Phd' 'Primary School']
education_level:  0              Graduate
1              Graduate
2              Graduate
3              Graduate
4               Masters
              ...
19153          Graduate
19154          Graduate
19155          Graduate
19156       High School
19157    Primary School
Name: education_level, Length: 19158, dtype: category
Categories (5, object): ['Primary School' < 'High School' < 'Graduate' < 'Masters' < 'Phd']

In [24]:
# experience
print("experience: ", ds_jobs_transformed['experience'].unique())

ls_experience_order = ['<1', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '>20']

ds_jobs_transformed['experience'] = pd.Categorical(ds_jobs_transformed['experience'], categories=ls_experience_order, ordered=True)

print("experience: ", ds_jobs_transformed['experience'])

experience:  ['>20' '15' '5' '<1' '11' '13' '7' '17' '2' '16' '1' '4' '10' '14' '18'
 '19' '12' '3' '6' '9' '8' '20' nan]
experience:  0        >20
1         15
2          5
3         <1
4        >20
        ...
19153     14
19154     14
19155    >20
19156     <1
19157      2
Name: experience, Length: 19158, dtype: category
Categories (22, object): ['<1' < '1' < '2' < '3' ... '18' < '19' < '20' < '>20']

In [25]:
# company_size
print("company_size: ", ds_jobs_transformed['company_size'].unique())

ls_company_size_order = ['<10', '10/49', '50-99', '100-500', '500-999', '1000-4999', '5000-9999', '10000+']

ds_jobs_transformed['company_size'] = pd.Categorical(ds_jobs_transformed['company_size'], categories=ls_company_size_order, ordered=True)

print("company_size: ", ds_jobs_transformed['company_size'])

company_size:  [nan '50-99' '<10' '10000+' '5000-9999' '1000-4999' '10-49' '100-499'
 '500-999']
company_size:  0            NaN
1          50-99
2            NaN
3            NaN
4          50-99
          ...
19153        NaN
19154        NaN
19155      50-99
19156    500-999
19157        NaN
Name: company_size, Length: 19158, dtype: category
Categories (8, object): ['<10' < '10/49' < '50-99' < '100-500' < '500-999' < '1000-4999' < '5000-9999' < '10000+']

In [26]:
# last_new_job
print("last_new_job: ", ds_jobs_transformed['last_new_job'].unique())

ls_last_new_job_order = ['never', '1', '2', '3', '4', '>4']

ds_jobs_transformed['last_new_job'] = pd.Categorical(ds_jobs_transformed['last_new_job'], categories=ls_last_new_job_order, ordered=True)

print("last_new_job: ", ds_jobs_transformed['last_new_job'])

last_new_job:  ['1' '>4' 'never' '4' '3' '2' nan]
last_new_job:  0            1
1           >4
2        never
3        never
4            4
         ...
19153        1
19154        4
19155        4
19156        2
19157        1
Name: last_new_job, Length: 19158, dtype: category
Categories (6, object): ['never' < '1' < '2' < '3' < '4' < '>4']

In [27]:
# Nominal Data (converting to "category")

ls_categorical_no_order = ['city', 'gender', 'major_discipline', 'company_type']

for col in ls_categorical_no_order:
    ds_jobs_transformed[col] = ds_jobs_transformed[col].astype('category')

# Check the data types of the transformed dataset
ds_jobs_transformed[ls_categorical_no_order].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   city              19158 non-null  category
 1   gender            14650 non-null  category
 2   major_discipline  16345 non-null  category
 3   company_type      13018 non-null  category
dtypes: category(4)
memory usage: 80.6 KB

### Business Goal

This recruitment company wants to focus on:
* more experienced professionals
* enterprise companies

Therefore, the DataFrame should be filtered to only contain:
* 'experience' >= 10 year
* 'company_size' >= 1000 employees

In [28]:
# Filtering dataset for business goals
ds_jobs_transformed = ds_jobs_transformed[
    (ds_jobs_transformed['experience'] >= '10') & 
    (ds_jobs_transformed['company_size'] >= '1000-4999')
]

### Checking Efficiency: Memory Usage (Old Dataframe vs. New Dataframe)

In [29]:
print(f"Original DataFrame memory usage: {ds_jobs.memory_usage(deep=True).sum() / 1024 ** 2:.2f} MB")
print(f"Transformed DataFrame memory usage: {ds_jobs_transformed.memory_usage(deep=True).sum() / 1024 ** 2:.2f} MB")

Original DataFrame memory usage: 10.51 MB
Transformed DataFrame memory usage: 0.08 MB